/* reset */
html, body {
    position: relative;
    display: block;
    margin:0;
    padding: 0;
    border:0;
    font-size:1rem;
    color: #444;
    font-weight: bold;
    height:100vh;
}
/* display */
.game-ui {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
    align-content: center;
    height:100%;
}
.consigne-container {
    position: relative;
    display: block;
    flex: 0 1 auto;
    order:0;
    align-self: auto;
    margin:20px;
    padding: 0;
    border:0;
    font-size:1rem;
    color: #444;
    font-weight: bold;
}
.consigne-container > p {
    position: relative;
    display: block;
    margin:10px 0;
    padding: 0;
    border:0;
    font-size:1rem;
    color: #444;
    font-weight: bold;
    text-align: left;
}
.game-table-container {
    position: relative;
    display: block;
    flex: 0 1 auto;
    order:0;
    align-self: auto;
    margin:20px;
    padding: 0;
}
.game-table-container > h1 {
    position: relative;
    margin: 5px 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.game-table-container > p {
    position: relative;
    margin: 6px 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.game-table-container > p:last-of-type {
    visibility: hidden;
}
.life-container {
    position: relative;
    display: block;
    flex: 0 1 auto;
    order:0;
    align-self: auto;
    margin:20px;
    padding: 0;
    border:0;
    font-size:1rem;
    color: #444;
    font-weight: bold;
    text-align: left;
}
.life-container > p {
    position: relative;
    display: block;
    margin:10px 0;
    padding: 0;
    border:0;
    font-size:1rem;
    color: #444;
    font-weight: bold;
    text-align: left;
}
/* game */
.game-table {
    position: relative;
    display: block;
    margin:0;
    padding: 0;
    border:20px solid gray;
    background-color: lightgrey;
    width:750px;
    height:750px;
    z-index:10;
    overflow: hidden;
}
.player-class {
    position: absolute;
    display: block;
    margin:0;
    padding: 0;
    border:0;
    background-color:orange;
    width:50px;
    height:50px;
    left:350px;
    top:150px;
    z-index:25;
    opacity: 0.9;
    transition:opacity 0.2s ease-in-out;
    -webkit-transition:opacity 0.2s ease-in-out;
    -moz-transition:opacity 0.2s ease-in-out;
    -ms-transition:opacity 0.2s ease-in-out;
    -o-transition:opacity 0.2s ease-in-out;
}
.tracker {
    position: absolute;
    display: block;
    margin:0;
    padding: 0;
    border:0;
    background-color:darkblue;
    width:50px;
    height:50px;
    left:50px;
    top:50px;
    z-index:15;
    opacity: 1;
}
.explosion {
    position: absolute;
    display: block;
    margin:0;
    padding: 0;
    border:0;
    width:50px;
    height:50px;
    border-radius:0%;
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    -ms-border-radius:0%;
    -o-border-radius:0%;
    left:100px;
    top:100px;
    z-index:20;
    background-color: orangered;
    opacity: 0.8;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
/*.explosion-blast {
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
}*/
.collision {
    opacity: 0.2;
}
.bomb {
    position: absolute;
    display: block;
    margin:0;
    padding: 0;
    border:0;
    background-color:red;
    width:50px;
    height:50px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    left:100px;
    top:100px;
    z-index:20;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
}
.bomb-blink {
    opacity: 0.1;
}
.bandeau-class {
    position: absolute;
    display: block;
    margin:0;
    padding: 10px;
    border:1px solid #444;
    background-color:white;
    width: 550px;
    height: 250px;
    left: 100px;
    top: 250px;
    z-index: 30;
    box-sizing: border-box;
}
.bandeau-class > p {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}